<div class="modal-footer">
    <button type="button" class="btn btn-primary previous-step"><i class="fa fa-arrow-left"></i><span>Prev</span></button>
    <button type="button" class="btn btn-primary next-step"><span>Next</span><i class="fa fa-arrow-right"></i></button>
    <button type="button" class="btn btn-primary save-button"><span>Next</span><i class="fa fa-arrow-right"></i></button>
    <button type="button" class="btn btn-primary submit-button"><i class="fa fa-save"></i> <span>Submit</span></button>
    <button type="button" class="btn btn-primary fw-bold save-submit-later-button" title="Save now and Submit it later."><span>Save</span></button>
    <button type="button" class="btn btn-danger delete-button float-start"><i class="fa fa-trash"></i><span>Delete</span></button>
    <button type="button" class="btn btn-secondary fw-bold cancel-button" data-bs-dismiss="modal">Exit</button>
</div>