@using ATI.Authorization
@using Abp.AspNetCore.Mvc.RazorPages
@using Abp.AspNetCore.Localization
<div class="modal-footer">
    <button type="button" class="btn btn-secondary fw-bold close-button" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary complete-button"><i class="fa fa-check"></i> <span>Complete</span></button>
</div>