@using ATI.Web.Areas.Core.Models.Layout
@using ATI.Web.Areas.Core.Views.Shared.Components.CoreLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})">
    @await Component.InvokeAsync(typeof(CoreLogoViewComponent), new
    {
        logoSkin = "dark-sm", 
        logoClass = "h-55px"
    })
</a>
